<ion-content class="has-header">
	<div class="circles1"><div class="circle-content"></div></div><div class="circles2"><div class="circle-content"></div></div><div class="circles3"><div class="circle-content"></div></div><div class="circles4"><div class="circle-content"></div></div><div class="circles5"><div class="circle-content"></div></div><div class="circles6"><div class="circle-content"></div></div>
	<div layout="column" flex="100" layout-align="center center" layout-margin>
		
		<div class="text16 dark-blue">You have no pending surveys to complete.</div>
    </div>
</ion-content>