<md-dialog class="md-transition-in dialog-border">
<md-dialog-content class="dialog-content">
<div layout="row" layout-align="center center" class="dialog-header">
    <div class="text24 white">{{title}}</div>
</div>
<div class="md-dialog-content-body" >
 <div class="text16" style="margin:10px;padding-right:50px;padding-bottom:20px;">{{body}}</div>
</div>

<md-dialog-actions layout-align="center center">
   <md-button type="button" aria-label="Cancel" class="md-default-theme grey-button" ng-click="closeDialog()"><span class="ng-binding ng-scope">Cancel</span></md-button>
   <div style="width:19px"></div>
   <md-button type="button" aria-label="Delete" class="md-primary md-raised " ng-click="deleteHandler()"><span class="ng-binding ng-scope">Delete</span></md-button>
  </md-dialog-actions>
</md-dialog-content>
</md-dialog>