 <div class="container">
 <div class="circles1"><div class="circle-content"></div></div><div class="circles2"><div class="circle-content"></div></div><div class="circles3"><div class="circle-content"></div></div><div class="circles4"><div class="circle-content"></div></div><div class="circles5"><div class="circle-content"></div></div><div class="circles6"><div class="circle-content"></div></div>
 <md-toolbar>
 <div class="md-toolbar-tools">
     <div layout="row" flex="fill">
      <div flex="fill"></div>
      <div layout="column" layout-align="center center">

      </div>
      <div flex="fill"></div>
    </div>
 </div>
 </md-toolbar>
    <form ng-submit="cancelSignup()" class="valign-wrapper form-style">

        <div layout="column" layout-align="center center" >
          <div class="text24 dar-blue" layout-margin >Congratulations</div>
          <div class="text20 dar-blue" layout-margin >{{signedUpUserName}}!</div>

          <div class="text20 dar-blue" layout-margin >Your account was succesfully created.</div>

          <md-button class="md-raised md-primary text16" type="submit" style="margin-top:30px;">You Can Now Login</md-button>
        </div>

    </form>
</div>
