
<ion-content class="has-header" overflow-scroll="true">

  <div ng-hide="showQuestions || isComplete" class="animate-show" layout="row" flex>
    
      <div layout="column" layout-align="center center" layout-margin flex="100" class="form-style"  >
        <!-- <div class="text20 dar-blue" layout-margin >Thanks for participating in this clinical trial!</div>
        <div class="text18 dark-blue" layout-margin >You have a survey to complete.</div>
        <div class="text18 dark-blue" layout-margin> Please remember to finish the survey.</div> -->
        <div class="text20 dark-blue" layout-margin ng-bind-html="take_first_survey_text"></div>
        <md-button id="takeSurvey" style="margin-top:30px;" class="md-raised md-primary text16" type="submit" ng-click="surveyStart()" >Take Survey</md-button>
      </div>
      
    </div>    

  <div ng-if="showQuestions" class="animate-show" layout="row" flex ng-cloak>
    
    <div layout="column" layout-align="center center" flex="100" layout-margin style="margin-top:10px;margin-bottom:20px;">
      <div class="text20 white handle-decoration" ng-bind-html="currentQuestion.question_text" layout-margin></div>
      <div layout="row" flex="100" class="Width100P" >
        <div flex="25"></div>
        <md-progress-linear flex="45"  layout="column" class="fat-loading-bar MT8" md-mode="determinate" value="{{percentage}}"  ></md-progress-linear>
        <span class="text18 white ML5" layout="column" flex="12">{{percentage}}%</span>
        <div flex="18"></div>
      </div>

    <form class="Width100P" style="padding: 0 0 2em 0;width:95%;">
        
        <div class="list" layout="row" flex="none">
          <div layout="column" flex="5"></div>
          <div layout"column" flex="90">
            <div layout="column">
                <div layout="row" layout-align="center center">
                  <div class="text18 dark-blue handle-decoration" layout-margin style="margin-top:10px;margin-bottom:30px;text-align:center;" ng-bind-html="currentQuestion.label">
                      
                  </div>
                </div>
                <div layout="row" class="fadea" ng-if="hideAnswers" layout-align="center center" flex="none" ng-cloak>
                  <md-radio-group class="animate-show" ng-if="(currentQuestion.question_type_id==1 && landscapeMode) || (currentQuestion.question_type_id==3 && landscapeMode)" layout="row" layout-align="center center" ng-model="questionData.answer"  style="height: 100px;" ng-cloak>
                  <span class="vertical-radio-parent" layout="row" ng-repeat="item in currentQuestion.possibleAnswers">
                    
                    <md-radio-button ng-click="currentQuestion.required_answer && !currentQuestion.survey_answer_id && nextQuestion(currentQuestion,false,user_survey_id,item.id)" class="md-radio-button-vertical" ng-value="item.id" aria-label="item.label">{{item.label}} </md-radio-button>

                  </span>

                  </md-radio-group>

                  

                  
                  <label class="no-border item item-input" style="background-color:transparent !important;" class="md-block" ng-if="currentQuestion.question_type_id==2 || currentQuestion.question_type_id==6">
                      <span class="input-label dark-blue" style="background-color:transparent !important;">Answer</span>
                      <input type="text" class="transparent-input Width450" ng-model="questionData.answer">
                  </label>
                  

                  <md-radio-group class="animate-show"  flex="none" ng-if="(currentQuestion.question_type_id==3 && !landscapeMode) || (currentQuestion.question_type_id==1 && !landscapeMode)" ng-model="questionData.answer" ng-cloak>
                     <md-radio-button ng-click="currentQuestion.required_answer && !currentQuestion.survey_answer_id && nextQuestion(currentQuestion,false,user_survey_id,item.id)" ng-repeat="item in currentQuestion.possibleAnswers" ng-value="item.id" >
                        {{ item.label }}
                      </md-radio-button>
                  </md-radio-group>

                  <input type="date" ng-if="currentQuestion.question_type_id==4" ng-model="questonData.answer" placeholder="Enter date" >

                  <md-slider flex min="0" max="10" step="1" ng-if="currentQuestion.question_type_id==5" ng-model="questionData.answer" class="md-warn"></md-slider>
                  </div>
                   

            </div>

            <div  layout="row" ng-if="hideAnswers"  flex="none" layout-align="space-between center" class="MT30 fadea survey-btn" layout-margin ng-cloak>
              <md-button ng-if="currentQuestion.sort_order >=2" class="md-raised md-primary text14" ng-click="previousQuestion()" >
                <md-icon md-svg-icon="chevron-left" ></md-icon>
                Back
              </md-button>
              <div flex="fill"></div>
              <md-button nav-direction="back" id="surveyCompleteBtn" ng-if="!completeSurveyButton && (!currentQuestion.required_answer || currentQuestion.question_type_id==2 || currentQuestion.question_type_id==6 || currentQuestion.survey_answer_id>0) && (currentQuestion.question_type_id==1 || currentQuestion.question_type_id==3 || currentQuestion.question_type_id==2 || currentQuestion.question_type_id==6)"  class="md-raised md-primary text14 " ng-click="nextQuestion(currentQuestion,false,user_survey_id)">
                {{(question && currentQuestion.sort_order==question.question_count)? "Complete Survey" : "Next"}}
                <md-icon ng-if="currentQuestion.sort_order!=question.question_count" md-svg-icon="chevron-right" ></md-icon>
              </md-button>
              <md-button ng-if="completeSurveyButton" class="md-raised md-primary text14" ng-click="nextQuestion(currentQuestion,true,user_survey_id)">
                Complete Survey
                <md-icon ng-if="currentQuestion.sort_order!=question.question_count" md-svg-icon="chevron-right" ></md-icon>
              </md-button>
            </div>
            <div class="fadea" layout="row" ng-if="hideAnswers" layout-margin ng-cloak>
              <div class="didyouknow" ng-if="currentQuestion.did_you_know_text && currentQuestion.did_you_know_text!=''"><md-icon md-svg-icon="lightbulb"></md-icon><span class="innerdidyouknow">Did You Know </span><br><p class="handle-decoration" ng-bind-html="currentQuestion.did_you_know_text"></p>
              </div>
              
            </div>
          </div>
          <div layout="column" flex="5"></div>

        </div>  
        
      </form>
    </div>
  </div>
</ion-content>

