<md-dialog aria-label="Edit Dialog" class="dialog-border">
  <md-dialog-content ng-model="updateFormData" class="dilaog-content">
    <div layout="row" layout-align="center center" class="dialog-header">
      <h3 class="text-white">
        {{updateFormData.type}}
      </h3>
    </div>
    <form name="updateForm" ng-submit="editSubmit(updateForm.$valid)" ng-model="updateFormData" >
      <div layout="row" >
        <div layout="column" flex="75">
          <div class="grey-paint">&nbsp;</div>
          <md-input-container class="md-input-default">
            <input name="Code" placeholder="Code*" ng-model="updateFormData.code" ng-required="true">
            <div ng-messages="updateForm.Code.$error" ng-show="updateForm.Code.$touched">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-input-default">
            <input name="Name" placeholder="Name*" ng-model="updateFormData.name" ng-required="true" >
            <div ng-messages="updateForm.Name.$error" ng-show="updateForm.Name.$touched">
              <div ng-message="required">This is required!</div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="server-error-msg" flex="">{{updateFormData.message}}</div>
        <div class="md-caption" flex="">*mandatory fields</div>
      </div>
      <div layout="row" layout-align="center center">
        <md-dialog-actions>
          
          
            <md-button type="button" class="md-raised grey-button" ng-click="editCancel()">Cancel</md-button>
        <md-button type="button" style="margin:0 19px" ng-show="updateFormData.submitText=='Update'" class="md-raised red-button text16 " ng-click="deleteClinicCode()">Delete</md-button>
         
            <md-button type="button" class="md-raised md-primary text16" type="submit" ng-click="clinicCodeSubmit(updateForm.$valid)">
              {{updateFormData.submitText}}
            </md-button>
          
        </md-dialog-actions>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>