<div class="container login-container">
<div class="circles1"><div class="circle-content"></div></div><div class="circles2"><div class="circle-content"></div></div><div class="circles3"><div class="circle-content"></div></div><div class="circles4"><div class="circle-content"></div></div><div class="circles5"><div class="circle-content"></div></div><div class="circles6"><div class="circle-content"></div></div>
    <!-- <div class="logobar">
        <img src="img/logo.gif" alt="The Johns Hopkins University Press" width="600" height="70">
    </div> -->
  <div header></div>
  <div class="login-form">
    <div class="logoimage" >
      <img src="img/logo.png" width="170" height="119">
    </div>
    <form name="changePasswordForm" class="valign-wrapper form-style">
      <md-input-container class="md-block">
         <input type="password" name="Password" placeholder="New Password*" ng-model="changePassword.password" ng-required="true" >
        <div ng-messages="changePasswordForm.Password.$error" ng-show="changePasswordForm.Password.$touched">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" >
        <input type="password" name="ConfirmPassword" placeholder="Confirm Password" ng-model="changePassword.password_confirmation" ng-required="true" compare-to="changePassword.password" >
        <div ng-messages="changePasswordForm.ConfirmPassword.$error" ng-show="changePasswordForm.ConfirmPassword.$touched">
          <div ng-message="required">This is required!</div>
          <div ng-message="compareTo">Must match password</div>
        </div>
      </md-input-container>
      
        <div class="server-error-msg">{{changePassword.message}}</div>
        <div layout="row">
          <div flex="fill"></div>
          <div layout="column" flex="95">
            <md-button type="submit" class="md-raised md-primary button-block text16" ng-click="doChangePassword(changePasswordForm.$valid)">Change Password</md-button>
          </div>
          <div flex="fill"></div>
        </div>
      
    </form>
  </div>
  <div class="footer">
  </div>
</div>