<md-content layout="column" class="health-care-view container" flex ng-cloak>
<!-- <div class="circles1"><div class="circle-content"></div></div><div class="circles2"><div class="circle-content"></div></div><div class="circles3"><div class="circle-content"></div></div><div class="circles4"><div class="circle-content"></div></div><div class="circles5"><div class="circle-content"></div></div><div class="circles6"><div class="circle-content"></div></div>
 -->  <div class="health-care-content" flex layout="row" layout-xs="column">
    <div class="health-care-side-menu" flex="nogrow">
      <ul>
        <li>
          <a ng-click="setDelay()" ui-sref="home.healthCare({tab: 'maternal vaccines'})">
            <div ng-class="{'healthcare-side-menu-item': true, selected: (currentCategory == 'maternal vaccines')}">
              <h4>MATERNAL VACCINES</h4>
            </div>
          </a>
        </li>
        <li>
          <a ng-click="setDelay()" ui-sref="home.healthCare({tab: 'childhood vaccines'})">
            <div ng-class="{'healthcare-side-menu-item': true, selected: (currentCategory == 'childhood vaccines')}">
              <h4>CHILDHOOD VACCINES</h4>
            </div>
          </a>
        </li>
        <li>
          <a ng-click="setDelay()" ui-sref="home.healthCare({tab: 'safety issues'})">
            <div ng-class="{'healthcare-side-menu-item': true, selected: (currentCategory == 'safety issues')}">
              <h4>SAFETY ISSUES</h4>
            </div>
          </a>
        </li>
        <li>
          <a ng-click="setDelay()" ui-sref="home.healthCare({tab: 'paternal videos'})">
            <div ng-class="{'healthcare-side-menu-item': true, selected: (currentCategory == 'paternal videos')}">
              <h4>PARENTAL VIDEOS</h4>
            </div>
          </a>
        </li>
        <li>
          <a ng-click="setDelay()" ui-sref="home.healthCare({tab: 'useful links'})">
            <div ng-class="{'healthcare-side-menu-item': true, selected: (currentCategory == 'useful links')}">
              <h4>USEFUL LINKS</h4>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div  class="health-care-main-content" flex>
      <!-- <div layout="row" layout-align="center center">
        <div class="search">
          <input type="text" name="search" placeholder="Filter">
        </div>
      </div> -->

      <ul class="content-items" layout="row" layout-align="start center" layout-wrap>
      <div ng-show="videoTab" class="tile-container">
          <div ng-controller="VideoTileCtrl as controller"layout-align="space-around center"  layout="row" layout-wrap>
              
                <div class="video-container"   flex="30" ng-repeat="config in controller.videoConfigs" >
        <p class="text18 dark-blue" layout-align="center center" data-ng-bind="config.videoDetails.title"></p>
      <videogular vg-update-state="controller.onPause($state, config.videoDetails.id)" vg-update-time="controller.onUpdateTime($currentTime, $duration, config.videoDetails.id)" vg-theme="config.theme" vg-start-time="config.startTime">
        <vg-media vg-src="config.sources"
            vg-tracks="config.tracks">
        </vg-media>
   
        <vg-controls>
          <vg-play-pause-button ng-></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar ng-disabled="true">
            <vg-scrub-bar-current-time ng-disabled="true"></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>
   
        <vg-overlay-play></vg-overlay-play>

      </videogular>
      <div class="my-desc-layer" layout-align="top center">
                      <p class="dark-blue my-desc-layers" ng-model="config.videoDetails.desc" ng-model-options='{ debounce: 5000 }'> {{config.videoDetails.desc | characters: 250 :true}}<a ng-show="config.videoDetails.desc.length>250" ng-click="readMoreModal(config.videoDetails.desc)" class="desc-read-more">Read More</a></p>
                      </div>
      </div>
                
          </div>
        </div>

        <li ng-show="!videoTab && !delay" ng-repeat="item in items" class="content-item" flex="50" flex-gt-sm="30">
          <h3 class="title">{{capitalizeWords(item.title)}}</h3>
          <p class="desc">
            {{item.desc}}
          </p>
          <a href="{{item.external_link}}" target="_blank">
            <md-button flex-gt-sm="60" type="button" class="button-small md-raised md-primary text16 md-ink-ripple">
              <span>Read More</span>
              <div class="md-ripple-container"></div>
            </md-button>
          </a>
        </li>
        <div  ng-show="delay" class="message-empty" ng-show="items.length == 0" layout="row" layout-align="center center">
        <h4></h4>
      </div>
      </ul>



    </div>

  </div>
</md-content>
